

{% extends 'base.html' %}
{% load static %}

{% block title %}Create Project{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Create Project</div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="7gkKvGyFC4zMZmSEz8qOSC1rbv87N80vKZgdqxNX1OAc068FHLfqU2rokNCVxicl">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="id_title">Title</label>
                            <div class="col-md-9">
                                <input type="text" name="title" class="form-control" placeholder="Enter title" maxlength="200" title="" required="" id="id_title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="summernote">Description</label>
                            <div class="col-md-9">
                                <textarea name="description" class="form-control" placeholder="Description" id="summernote"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="id_start_date">Start date</label>
                            <div class="col-md-9">
                                <input type="date" name="start_date" class="form-control" placeholder="Start date" title="" required="" id="id_start_date">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="id_end_date">End date</label>
                            <div class="col-md-9">
                                <input type="date" name="end_date" class="form-control" placeholder="End date" title="" id="id_end_date">
                            </div>
                        </div>
                        <div class="form-group row"><label class="col-md-3 col-form-label" for="id_status">Status</label>
                            <div class="col-md-9">
                                <select name="status" class="form-control" title="" id="id_status">
                                    {% for value, display in status_choices %}
                                        <option value="{{ value }}">{{ display }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="id_assigned_to">Assign to</label>
                            <div class="col-md-9">
                                <select name="assigned_to" lang="en" data-minimum-input-length="0" data-theme="default" data-allow-clear="true" data-placeholder="" class="form-control django-select2" title="" id="id_assigned_to">
                                    <option value="" selected=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="id_phase">Phases</label>
                            <div class="col-md-9">
                                <select name="phase" lang="en" data-minimum-input-length="0" data-theme="default" data-allow-clear="true" data-placeholder="" class="form-control django-select2" title="" id="id_phase">
                                    {% for phase in phases %}
                                        <option value="{{ phase.value }}">{{ phase.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-custom">Create Project</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Right Side Display -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Project Preview</div>
                <div class="card-body">
                    <h5>Title: <span id="preview-title"></span></h5>
                    <p>Description: <span id="preview-description"></span></p>
                    <p>Start Date: <span id="preview-start-date"></span></p>
                    <p>End Date: <span id="preview-end-date"></span></p>
                    <p>Status: <span id="preview-status"></span></p>
                    <p>Assigned To: <span id="preview-assigned-to"></span></p>
                    <p>Phases: <span id="preview-phase"></span></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block endscript %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Update the preview when inputs change
        $('.select2').select2();

        function updatePreview() {
            document.getElementById('preview-title').innerText = document.getElementById('id_title').value;
            document.getElementById('preview-description').innerHTML = $('#summernote').summernote('code');
            document.getElementById('preview-start-date').innerText = document.getElementById('id_start_date').value;
            document.getElementById('preview-end-date').innerText = document.getElementById('id_end_date').value;
            document.getElementById('preview-status').innerText = document.getElementById('id_status').options[document.getElementById('id_status').selectedIndex].text;
            document.getElementById('preview-assigned-to').innerText = document.getElementById('id_assigned_to').options[document.getElementById('id_assigned_to').selectedIndex].text;
            document.getElementById('preview-phase').innerText = document.getElementById('id_phase').options[document.getElementById('id_phase').selectedIndex].text;
        }
    
        // Function to add custom 'code' button to toolbar
        function addCodeButton() {
            var Button = $.summernote.ui.button;
            var button = Button({
                contents: '<i class="fa fa-code"/> Code',
                tooltip: 'Insert Code',
                click: function() {
                    var selection = window.getSelection();
                    if (selection.rangeCount > 0) {
                        var range = selection.getRangeAt(0);
                        var codeNode = document.createElement('code');
                        codeNode.appendChild(range.extractContents());
                        range.insertNode(codeNode);
                    }
                }
            });
            return button.render();   // return button as jquery object
        }

        // Initialize Summernote and add an onChange event
        $('#summernote').summernote({
            height: 200,
            placeholder: '',
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']],
                ['custom', ['codeButton']]
            ],
            buttons: {
                codeButton: addCodeButton
            },
            callbacks: {
                onChange: updatePreview,
            }
        });
    
        // Add event listeners to other form inputs
        document.getElementById('id_title').addEventListener('input', updatePreview);
        document.getElementById('id_start_date').addEventListener('input', updatePreview);
        document.getElementById('id_end_date').addEventListener('input', updatePreview);
        document.getElementById('id_status').addEventListener('change', updatePreview);
        document.getElementById('id_assigned_to').addEventListener('change', updatePreview);
        document.getElementById('id_phase').addEventListener('change', updatePreview);
    
        // Initial update
        updatePreview();
    });
    
</script>

{% endblock %}

