{% extends 'base.html' %}
{% load static %}

{% block title %}Project Detail{% endblock %}
{% block content %}
<div class="container">

<h1>{{ project.title }}</h1>
<p>{{ project.description }}</p>
<p>Start Date: {{ project.start_date }}</p>
<p>End Date: {{ project.end_date }}</p>
<p>Status: {{ project.status }}</p>
<p>Members: {{ project.members.all|join:", " }}</p>
<a href="{% url 'projects:update_project' project.id %}">Edit</a>
<a href="{% url 'projects:delete_project' project.id %}">Delete</a>
</div>

{% endblock %}
