{% extends 'base.html' %}
{% load posts_custom_filters %}

{% load static %}

{% block title %}Ticket Posts{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/posts/ticket_posts.css' %}">
    <style>
        /* Additional inline styles can be added here if needed */
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <!-- Left Column: Sub Tickets -->
            <div class="sticky-column">
                <h4>Sub Tickets</h4>
                <ul>
                    {% for sub_ticket in ticket.sub_tickets.all %}
                    <li>#{{ sub_ticket.company_ticket_counter }} - {{ sub_ticket.title }}</li>
                    {% endfor %}
                </ul>
                <h4>Super Tickets</h4>
                <ul>
                    {% for super_ticket in ticket.super_tickets.all %}
                    <li>#{{ super_ticket.company_ticket_counter }} - {{ super_ticket.title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6 scrollable-column">
            <div class="input-group" id="input-group">
                <div class="user-icon-container">
                    <div class="user-initial">{{ request.user.username|slice:":2" }}</div>
                </div>
                <input type="text" class="form-control" id="simple-input" placeholder="Post something...">
            </div>


            <!-- Modal -->
            <div class="modal fade" id="postModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Post:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="post-something">
                            <div class="d-flex align-items-center mb-2">
                                <div class="user-icon-container">
                                    <div class="user-initial">{{ request.user.username|slice:":2" }}</div>
                                </div>                                
                                <div class="flex-grow-1 full_name_and_username">
                                    <span class="fw-bold">{{ request.user.full_name }}</span>
                                    <br>
                                    <span class="username">@{{ request.user.username }}</span>
                                </div>
                                <div class="text-end flex-grow-1 created_at_and_updated_at">
                                    <span class="text-muted">Creating Post now</span>
                                </div>
                            </div>
                            <div class="post-something-body">
                                <form method="POST" id="create-post-form" action="{% url 'posts:create_post' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
                                    <input type="hidden" name="post_id" value="">
                                    <textarea name="content" class="form-control" placeholder="Post something" id="summernote"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <i class="bi bi-info-circle"></i>
                        <p>Don't paste the generated url for video. Directly paste url in video or in link.</p>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Post later</button>
                    <button type="submit" class="btn btn-primary">Post now</button>
                    </form>
                    </div>
                </div>
                </div>
            </div>

            <hr>
            <!-- Center Column: Posts -->
            <div class="post-list">
                <!-- Center Column: Post something -->
                {% for post in posts %}
                    <div class="post" id="post_id_{{post.id}}">
                        <div class="d-flex align-items-center mb-2">
                            <div class="user-icon-container">
                                <div class="user-initial">{{ post.created_by.username|slice:":2" }}</div>
                            </div>
                            <div class="flex-grow-1 full_name_and_username">
                                <span class="fw-bold">{{ post.created_by.full_name }}</span>
                                <br>
                                <span class="username">@{{ post.created_by.username }}</span>
                                <span class="text-muted created_at_and_updated_at">&bull; Posted on {{ post.created_at|date:"F j, Y" }} at {{ post.created_at|time:"P" }}</span>
                            </div>
                            <div class="flex-grow-1 text-center">
                                {% comment %} If you want to place in the top center of the post. {% endcomment %}
                            </div>
                            <div class="text-end flex-grow-1 save_and_pin">
                                {% if post.saved_posts|are_saved_posts_exists %}
                                    <i class="bi bi-save" data-toggle="tooltip" title="You saved this post, {{ post.saved_posts|get_saved_by_username }}"></i>
                                {% endif %} 
                                {% if post.pinned_posts|are_pinned_posts_exists %}
                                    <i class="bi bi-pin rotate-40" data-toggle="tooltip" title="Pinned by {{ post.pinned_posts|get_pinned_by_username }}"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="post-content">
                            <p>{{ post.content|safe }}</p>
                        </div>
                        <div class="post-footer mt-2 d-flex justify-content-between align-items-center">
                            <div class="flex-grow-1">
                                <button class="btn btn-link upvote-btn" data-post-id="{{ post.id }}">
                                    {% if post|is_up_voted_by_user:request.user %}
                                        <i class="bi bi-arrow-up-circle-fill"></i>
                                    {% else %}
                                        <i class="bi bi-arrow-up-circle"></i>
                                    {% endif %}
                                </button>
                                <span class="text-muted me-3" id="upvotes_count_{{ post.id }}">{{ post.up_votes }} Upvotes</span>
                                <button class="btn btn-link downvote-btn" data-post-id="{{ post.id }}">
                                    {% if post|is_down_voted_by_user:request.user %}
                                        <i class="bi bi-arrow-down-circle-fill"></i>
                                    {% else %}
                                        <i class="bi bi-arrow-down-circle"></i>
                                    {% endif %}
                                </button>
                                <span class="text-muted me-3" id="downvotes_count_{{ post.id }}">{{ post.down_votes }} Downvotes</span>
                            </div>
                            {% if post.parent_post %}
                                <div class="flex-grow-1">
                                    <span class="text-muted me-3">This is a replied post. <a href="#post_id_{{post.parent_post.id}}">See the original post</a></span>
                                </div>
                            {% endif %}

                            <div class="text-end dots_circle">
                                <div class="options dropdown">
                                    <a class="dots-container" href="#" id="postReplyDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="dots">&bull;&bull;&bull;</span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="postReplyDropdown">
                                        <li><a class="dropdown-item reply-post-link" href="#" data-post-id="{{post.id}}">Reply</a></li>
                                        {% if not post.pinned_posts|are_pinned_posts_exists %}
                                            <li><a class="dropdown-item" href="{% url 'posts:pin_post' post.id %}">Pin Post</a></li>
                                        {% else %}
                                            <li><a class="dropdown-item" href="{% url 'posts:unpin_post' post.id %}">Unpin Post</a></li>
                                        {% endif %}
                                        {% if not post.saved_posts|are_saved_posts_exists %}
                                            <li><a class="dropdown-item" href="{% url 'posts:save_post' post.id %}">Save Post</a></li>
                                        {% else %}
                                            <li><a class="dropdown-item" href="{% url 'posts:un_save_post' post.id %}">Un save Post</a></li>
                                        {% endif %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'posts:delete_post' post.id %}">Delete Post</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <!-- Right Column: Static Content -->
            <div class="sticky-column">
                <h4>Filters:</h4>
                <!-- Add your filter options here -->
                <div class="input-group mb-3">
                    <input type="text" id="search" class="form-control" name="search" placeholder="Search posts...">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <div class="filter  mb-3">
                    <label for="filterByDate">Sort by Date:</label>
                    <select id="filterByDate" class="form-select">
                        <option value="latest">Latest</option>
                        <option value="oldest">Oldest</option>
                    </select>
                </div>
                <div class="filter mb-3">
                    <label for="filterByUser">Filter by User:</label>
                    <div class="col-md-12">
                        <select name="assigned_to" class="selectpicker" multiple aria-label="Default select example" data-live-search="true" id="filterByUser" data-width="100%">
                            <option value="all">All Users</option>
                        </select>
                    </div>
                </div>
                <div class="filter  mb-3">
                    <label for="startDate">Start Date (Posts later than):</label>
                    <input type="date" id="startDate" class="form-control">
                </div>
                <div class="filter  mb-3">
                    <label for="endDate">End Date (Posts older than):</label>
                    <input type="date" id="endDate" class="form-control">
                </div>
                <div class="filter mb-3">
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" id="filterAcceptedAnswerPosts">
                        <span class="form-check-label">Accepted Answer</span>
                    </label>
                </div>
                <div class="filter  mb-3">
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" id="filterSavedPosts">
                        <span class="form-check-label">Posts I saved</span>
                    </label>
                </div>
                <!-- Checkbox for Posts by Current User -->
                <div class="filter mb-3">
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" id="filterMyPosts">
                        <span class="form-check-label">Posts I created</span>
                    </label>
                </div>
                <!-- Checkbox for Posts from Admins -->
                <div class="filter mb-3">
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" id="filterAdminPosts">
                        <span class="form-check-label">Posts by contributors</span>
                    </label>
                </div>
                <div class="filter mb-3">
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" id="filterPinnedPosts">
                        <span class="form-check-label">Posts pinned by others</span>
                    </label>
                </div>
                <div class="filter mb-3">
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" id="filterTopVotedPosts">
                        <span class="form-check-label">Posts voted mostly</span>
                    </label>
                </div>
                <div class="filter mb-3">
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" id="filterMostSavedPosts">
                        <span class="form-check-label">Posts saved mostly</span>
                    </label>
                </div>
                <div class="filter mb-3">
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" id="filterPostsWithAttachments">
                        <span class="form-check-label">Posts with Attachments</span>
                    </label>
                </div>
                <div class="text">
                    <button type="button" class="btn btn-primary">Apply filters</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block endscript %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {

            // Function to add custom 'code' button to toolbar
            function addCodeButton() {
                var Button = $.summernote.ui.button;
                var button = Button({
                    contents: '<i class="fa fa-code"/> Code',
                    tooltip: 'Insert Code',
                    click: function() {
                        var selection = window.getSelection();
                        if (selection.rangeCount > 0) {
                            var range = selection.getRangeAt(0);
                            var codeNode = document.createElement('code');
                            codeNode.appendChild(range.extractContents());
                            range.insertNode(codeNode);
                        }
                    }
                });
                return button.render();   // return button as jquery object
            }

            // Initialize Summernote and add an onChange event
            $('#summernote').summernote({
                height: 200,
                placeholder: 'Post Something.',
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']],
                    ['custom', ['codeButton']]
                ],
                buttons: {
                    codeButton: addCodeButton
                },
            });

            var stickyInputGroup = $('#input-group');
            var windowHeight = $(window).height();
            var stickyTop = windowHeight * 0.018;
            //var stickyTop = stickyInputGroup.offset().top;
            
            $(window).scroll(function() {
                var windowTop = $(window).scrollTop();
                if (windowTop > stickyTop) {
                    stickyInputGroup.addClass('fixed');
                } else {
                    stickyInputGroup.removeClass('fixed');
                }
            });

            // Function to hide input-group when clicking #simple-input
            $('#simple-input').on('click', function() {
                stickyInputGroup.hide(); // Hide the input-group
            });

            $('#simple-input').on('click', function() {
                $('input[name="post_id"]').val("");
                $('#postModal').modal('show'); // Show the modal
            });

            // Show input-group when modal is closed
            $('#postModal').on('hidden.bs.modal', function () {
                stickyInputGroup.show(); // Show the input-group
            });

            // Event listener for clicking on "Reply" link
            $('.reply-post-link').on('click', function(event) {
                event.preventDefault();
                var postId = $(this).data('post-id');
                $('#postModal').modal('show');
                stickyInputGroup.hide(); // Hide the input-group
                $('input[name="post_id"]').val(postId);
            });


            // Highlight the original post when clicking "See the original post"
            $('.post-list').on('click', 'a[href^="#post_id_"]', function(event) {
                event.preventDefault();
                var target = document.querySelector(this.hash);
                if (target) {
                    $('.highlighted-post').removeClass('highlighted-post'); // Remove highlight from any previously highlighted post
                    target.classList.add('highlighted-post'); // Add highlight to the target post
                    target.scrollIntoView({ behavior: 'smooth', block: 'center' }); // Scroll to the target post
                    setTimeout(function() {
                        target.classList.remove('highlighted-post'); // Remove the highlight after a delay
                    }, 2000);
                }
                else {
                    // Display a SweetAlert
                    Swal.fire({
                        icon: 'warning',
                        title: 'Original Post Deleted',
                        text: 'The post you are looking for has been deleted by the user who created it.',
                        showConfirmButton: true,
                        timer: 5000 // Automatically close the alert after 5 seconds
                    });
                }
            });

            // Function to handle upvote and downvote actions
            function handleVote(postId, voteType) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "posts:vote_post" %}',
                    data: {
                        post_id: postId,
                        vote_type: voteType,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.success) {
                            // Update the UI with new vote counts
                            console.log(response.data)
                            $('#upvotes_count_' + postId).text(response.data.up_votes + ' Upvotes');
                            $('#downvotes_count_' + postId).text(response.data.down_votes + ' Downvotes');
                            var successUrl = "{% url 'posts:ticket_posts' ticket.id %}";
                            window.location.href = successUrl;
                        } else {
                            console.error('Failed to update votes:', response.message);
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        console.error('Failed to vote:', errmsg);
                    }
                });
            }

            // Event listener for upvote button click
            $('.upvote-btn').on('click', function() {
                var postId = $(this).data('post-id');
                handleVote(postId, "1");  // 1 represents upvote
            });

            // Event listener for downvote button click
            $('.downvote-btn').on('click', function() {
                var postId = $(this).data('post-id');
                handleVote(postId, '-1');  // -1 represents downvote
            });

        });
    </script>
{% endblock %}
