{% extends 'base.html' %}
{% load static %}

{% block title %}Ticket Posts{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/posts/ticket_posts.css' %}">
    <style>
        /* Additional inline styles can be added here if needed */
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <!-- Left Column: Sub Tickets -->
            <div class="sticky-column">
                <h4>Sub Tickets</h4>
                <ul>
                    {% for sub_ticket in ticket.sub_tickets.all %}
                    <li>#{{ sub_ticket.company_ticket_counter }} - {{ sub_ticket.title }}</li>
                    {% endfor %}
                </ul>
                <h4>Super Tickets</h4>
                <ul>
                    {% for super_ticket in ticket.super_tickets.all %}
                    <li>#{{ super_ticket.company_ticket_counter }} - {{ super_ticket.title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6 scrollable-column">
            <div class="input-group" id="input-group">
                <div class="user-icon-container">
                    <div class="user-initial">{{ request.user.username|slice:":2" }}</div>
                </div>
                <input type="text" class="form-control" id="simple-input" placeholder="Post something...">
            </div>


            <!-- Modal -->
            <div class="modal fade" id="postModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Post:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="post-something">
                            <div class="d-flex align-items-center mb-2">
                                <div class="user-icon-container">
                                    <div class="user-initial">{{ request.user.username|slice:":2" }}</div>
                                </div>                                
                                <div class="flex-grow-1 full_name_and_username">
                                    <span class="fw-bold">{{ request.user.full_name }}</span>
                                    <br>
                                    <span class="username">@{{ request.user.username }}</span>
                                </div>
                                <div class="text-end flex-grow-1 created_at_and_updated_at">
                                    <span class="text-muted">Creating Post now</span>
                                </div>
                            </div>
                            <div class="post-something-body">
                                <textarea name="post" class="form-control" placeholder="Post something" id="summernote"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Post later</button>
                    <button type="button" class="btn btn-primary">Post now</button>
                    </div>
                </div>
                </div>
            </div>

            <hr>
            <!-- Center Column: Posts -->
            <div class="post-list">
                <!-- Center Column: Post something -->
                {% for post in posts %}
                    <div class="post">
                        <div class="d-flex align-items-center mb-2">
                            <div class="user-icon-container">
                                <div class="user-initial">{{ post.created_by.username|slice:":2" }}</div>
                            </div>
                            <div class="flex-grow-1 full_name_and_username">
                                <span class="fw-bold">{{ post.created_by.full_name }}</span>
                                <br>
                                <span class="username">@{{ post.created_by.username }}</span>
                            </div>
                            <div class="text-end flex-grow-1 created_at_and_updated_at">
                                <span class="text-muted">Posted on {{ post.created_at|date:"F j, Y" }} at {{ post.created_at|time:"P" }}</span>
                            </div>
                        </div>
                        <div class="post-content">
                            <p>{{ post.content }}</p>
                        </div>
                        <div class="post-footer mt-2 d-flex justify-content-between align-items-center">
                            <div class="flex-grow-1">
                                <span class="text-muted me-3">{{ post.up_votes }} Upvotes</span>
                                <span class="text-muted me-3">{{ post.down_votes }} Downvotes</span>
                            </div>
                            <div class="text-end">
                                <div class="options dropdown">
                                    <div class="dots-container" role="button" aria-expanded="false">
                                        <div class="dots">&bull;&bull;&bull;</div>
                                    </div>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Reply</a></li>
                                        <li><a class="dropdown-item" href="#">Pin Post</a></li>
                                        <li><a class="dropdown-item" href="#">Save Post</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Delete Post</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <!-- Right Column: Static Content -->
            <div class="sticky-column">
                <p>Static Content Here</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block endscript %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {

            // Function to add custom 'code' button to toolbar
            function addCodeButton() {
                var Button = $.summernote.ui.button;
                var button = Button({
                    contents: '<i class="fa fa-code"/> Code',
                    tooltip: 'Insert Code',
                    click: function() {
                        var selection = window.getSelection();
                        if (selection.rangeCount > 0) {
                            var range = selection.getRangeAt(0);
                            var codeNode = document.createElement('code');
                            codeNode.appendChild(range.extractContents());
                            range.insertNode(codeNode);
                        }
                    }
                });
                return button.render();   // return button as jquery object
            }

            // Initialize Summernote and add an onChange event
            $('#summernote').summernote({
                height: 200,
                placeholder: 'Post Something.',
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']],
                    ['custom', ['codeButton']]
                ],
                buttons: {
                    codeButton: addCodeButton
                },
            });

            var stickyInputGroup = $('#input-group');
            var windowHeight = $(window).height();
            var stickyTop = windowHeight * 0.018;
            //var stickyTop = stickyInputGroup.offset().top;
            
            $(window).scroll(function() {
                var windowTop = $(window).scrollTop();
                if (windowTop > stickyTop) {
                    stickyInputGroup.addClass('fixed');
                } else {
                    stickyInputGroup.removeClass('fixed');
                }
            });

            // Function to hide input-group when clicking #simple-input
            $('#simple-input').on('click', function() {
                stickyInputGroup.hide(); // Hide the input-group
            });

            $('#simple-input').on('click', function() {
                $('#postModal').modal('show'); // Show the modal
            });

            // Show input-group when modal is closed
            $('#postModal').on('hidden.bs.modal', function () {
                stickyInputGroup.show(); // Show the input-group
            });

            // Show input-group initially
            stickyInputGroup.show();

        });
    </script>
{% endblock %}
