{% extends 'no_auth_base.html' %}
{% load static %}

{% block title %}Passionoverflow | Login{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock stylesheets %}
{% block main_content %}
<section class="login-page-section">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="login-page">
          <div class="form">
              <form class="login-form " action="https://www.instagram.com/developer_nikhil27/" target="_blank">
                  {% csrf_token %}
                  <h2 class="text-center login_heading">Log in</h2>
                  <input type="text" required placeholder="Username" id="user" autocomplete="off" />
                  <input oninput="return formvalid()" type="password" required placeholder="Password" id="pass" autocomplete="off" />
                  <img src="https://cdn2.iconfinder.com/data/icons/basic-ui-interface-v-2/32/hide-512.png"
                      onclick="show()" id="showimg">
                  <span id="vaild-pass"></span>
                  <button type="submit">Log in</button>
                  <p class="message"><a href="#">Forgot your password?</a></p>
                  <p class="message signup-message text-center">New to PassionOverflow? <a href="{% url 'accounts:registration' %}">Sign up</a></p>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock main_content %}