{% extends 'no_auth_base.html' %}
{% load static %}

{% block title %}Passionoverflow | Login{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock stylesheets %}
{% block main_content %}
<section class="login-page-section">
  <div class="container-fluid">
    <div class="container">
      <div class="row mb-5">
        <h1>See you soon.</h1>
        <h2>Thanks to use our web-client, We hope you liked it.</h2>
      </div>
    </div>
  </div>
</section>

{% endblock main_content %}