{% extends 'no_auth_base.html' %}
{% load static %}

{% block title %}Passionoverflow | Sign up{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock stylesheets %}
{% block main_content %}

<section id="signup">
    <div class="container-fluid">
        <div class="container">
                            <!-- Display server-side validation errors -->
                            <div id="error-messages" class="error-messages d-none">
                              <div class="error-message">
                                  <p>Errors:</p>
                                  <span class="close-btn">&times;</span>
                                  <span class="error-text"></span>
                              </div>
                            </div>
            <div class="row justify-content-center">
              <div class="col-md-6">
                <form class="sign_up_form needs-validation" method="POST" novalidate data-ajax="true">
                  {% csrf_token %}
                  <h2 class="text-center sign_up_heading">Sign up</h2>
                  <h5 class="sign_up_heading_message text-center">It's free until you choose the premium plan.</h5>
                  <div class="form-group mb-4 label_and_input">
                    <label class="mb-1" for="full-name">Full name</label>
                    <input name="full_name" type="text" class="full_name" id="full-name" placeholder="George Willson" required>
                    <span class="underline"></span>
                  </div>
                  <div class="form-group mb-4 label_and_input">
                    <label class="mb-1" for="user-name">Username</label>
                    <input name="username" type="text" class="user_name" id="user-name" placeholder="georgeteamleader" required>
                    <span class="underline"></span>
                  </div>
                  <div class="form-group mb-4 label_and_input">
                    <label class="mb-1" for="email">Email</label>
                    <input name="email" type="email" class="" id="email" placeholder="george@johndoe.com" pattern="[^@]+@[^@]+\.[^@]+" required>
                    <span class="underline"></span>
                  </div>
                  <div class="form-group mb-4 label_and_input">
                    <label class="mb-1" for="password">Password</label>
                    <input name="password" type="password" class="" id="password" placeholder="Secure Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$" required>
                    <span class="underline"></span>
                  </div>
                  <p class="company_space_name_helper_text small password-hint" style="display: none;">Password should contain at least one small character, one capital letter, one number, and one symbol, with a minimum length of 8 characters.</p>
                  <div class="form-group mb-4 label_and_input">
                    <label class="mb-1" for="company-name">Company name</label>
                    <input name="company_name" type="text" class="company_name" id="company-name" placeholder="John Doe Co." required>
                    <span class="underline"></span>
                  </div>
                  <div class="form-group mb-4 label_and_input">
                    <label class="mb-1" for="phone">Phone</label>
                    <input name="phone_number" type="tel" class="phone" id="phone" placeholder="+1 (999) 888 9999" pattern="^\+?\d{10,15}$" required>
                    <span class="underline"></span>
                  </div>
                  <p class="small company_space_name_helper_text">We are collecting Phone number to enble 2-factor-authentication for enhanced security.</p>

                  <div class="form-group mb-4 label_and_input">
                    <label class="mb-1" for="passionoverflow-client-space">Your Company Space</label>
                    <input name="company_sub_domain_name" type="text" class="passionoverflow_client_space" id="passionoverflow-client-space" placeholder="johndoecompanyspacename" required>
                    <span class="underline"></span>
                  </div>
                  <p class="small company_space_name_helper_text">This'll be a unique PassionOverflow profile address for your company to login. A unique name will be given to each company.</p>
                  <button type="submit" class="btn btn-block continue_sign_up_button">CONTINUE</button>
                  <p class="small login_message mt-3">Already a member? <a href="{% url 'accounts:login' %}">Log in</a></p>
                  <p class="small login_message mt-3">By clicking "Continue" you agree to PassionOverflow's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
                </form>
              </div>
            </div>
          </div>
        
    </div>
</section>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    // Show password hint when password input clicked.
    $('#password').on('click', function() {
      $('.password-hint').toggle();
  });
    // Function to show error message
    function showError(messages) {
        var $errorMessages = $('#error-messages');
        var errorMessage = messages.join('<br>'); // Join messages with line breaks
        $errorMessages.find('.error-text').html(errorMessage);
        $errorMessages.removeClass('d-none');
    }

    // Function to hide error message
    function hideError() {
        var $errorMessages = $('#error-messages');
        $errorMessages.addClass('d-none');
    }

    // Close error message when close button is clicked
    $('#error-messages').on('click', '.close-btn', function() {
        hideError();
    });

    $('form[data-ajax=true]').on('submit', function(event) {
        event.preventDefault();
        var $form = $(this);

        // Clear any previous error messages
        hideError();

        // Perform frontend validations for each input field
        var isValid = true;
        var errorMessages = [];
        $form.find('input, select, textarea').each(function() {
            var $input = $(this);

            // Check if the input is empty
            if (!$input.val().trim()) {
                // Display specific error message for empty input
                var label = $input.closest('.label_and_input').find('label').text().trim();
                errorMessages.push(label + ' is required.');
                isValid = false;
                return;  // Skip pattern validation for empty inputs
            }

            // Check if the input matches the specified pattern
            var pattern = $input.attr('pattern');
            if (pattern && !RegExp(pattern).test($input.val())) {
                // Display specific error message for pattern mismatch
                var label = $input.closest('.label_and_input').find('label').text().trim();
                errorMessages.push(label + ' is invalid.');
                isValid = false;
            }
        });

        // If any input fails frontend validations, stop form submission
        if (!isValid) {
            showError(errorMessages);
            return;
        }

        // If frontend validations pass, submit the form to the server
        var formData = $form.serialize();

        $.ajax({
            type: 'POST',
            url: $form.attr('action'),
            data: formData,
            success: function(response) {
                if (response.success) {
                    // Handle successful registration (e.g., redirect to a new page)
                    window.location.href = response.redirect_url;
                } else {
                    // Display validation errors from the server
                    showError(response.errors);
                }
            },
            error: function() {
                // Handle server errors
                showError(['An unexpected error occurred. Please try again.']);
            }
        });
    });
  });
</script>
{% endblock main_content %}