/* Ensure columns have borders */
.col-md-6 {
    border-left: 1px solid #ccc; /* Border between center and right column */
    border-right: 1px solid #ccc; /* Border between center and right column */
}

/* Center column scrolling */
.scrollable-column {
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Sticky sidebar */
.sticky-column {
    position: fixed;
    z-index: 1; /* Ensure sidebar stays above content */
    background-color: #fff; /* Optional: Add background color */
    padding: 15px; /* Optional: Add padding for sidebar content */
}

/* Post styling */
.post {
    margin-bottom: 20px; /* Space between posts */
    border-bottom: 1px solid #ccc; /* Optional: Bottom border for posts */
    padding-bottom: 15px; /* Optional: Padding at bottom of each post */
}

.post:hover {
    background-color: #f7f7f7; /* Grey background color */
    transition: 0.5s;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}



.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Make user icon round */
    margin-right: 10px;
}

.post-content {
    margin-bottom: .5rem;
    margin-left: 3rem;
}

.post-footer {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 3rem;
    font-size: .9rem;
    color: #888; /* Adjust text color for post footer */
    display: flex;
    align-items: center;
}

/* Additional inline styles can be added here if needed */
.post-footer .options {
    cursor: pointer;
    color: #666; /* Adjust color as needed */
    margin-left: auto;
}

.post-footer .options .dots-container {
    width: 30px; /* Adjust width of the container */
    height: 30px; /* Adjust height of the container */
    text-align: center;
    text-decoration: none;
}

.dots_circle {
    margin-right: 1rem;
}

.post-footer .options .dots {
    width: 20px; /* Adjust width of the ellipsis */
    height: 20px; /* Adjust height of the ellipsis */
    line-height: 20px; /* Center vertically */
    border: 1px solid #ccc; /* Border color */
    border-radius: 50%; /* Make it a circle */
    transition: transform 0.3s ease; /* Smooth transition for transform */
}

.post-footer .options .dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;
    min-width: 120px;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.post-footer .options .dropdown-menu a {
    display: block;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.post-footer .options .dropdown-menu a:hover {
    background-color: #f8f9fa;
}

.post:last-child {
    border-bottom: none; /* Remove border bottom from last post */
}

.full_name_and_username {
    margin-left: 0.6rem;
}
.username {
    font-size: 0.8rem;
}

.created_at_and_updated_at {
    font-size: .75rem;
    margin-right: 1rem;
}

/* Main Content */
.content {
    padding-bottom: 0px !important;
}

.post-something {
    margin-bottom: 20px;
}

.post-something-header, .post-something-body {
    margin-left: 3rem;
}

#simple-input {
    margin-left: 0.5rem;
    border-radius: 3rem;
}

#simple-input:hover {
    box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
    transition: 0.5s;
}

/* Additional inline styles can be added here if needed */
.input-group {
    position: relative; /* Initially relative */
    width: 100%;
    z-index: 1111;
}
.input-group.fixed {
    position: fixed;
    top: 1.8%; /* Adjust as needed */
    width: 41%;
}

.highlighted-post {
    background-color: #ffffcc;
    transition: background-color 0.5s ease;
}

.rotate-40 {
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    transform: rotate(35deg);
    display: inline-block;
}