/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
  font-family: Arial, sans-serif;
  transition: .9s !important;
}

/* Top Navbar */
.navbar {
  height: 70px; /* Increase the height as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  position: fixed; /* Make navbar fixed */
  top: 0; /* Position navbar at the top */
  width: 100%; /* Make navbar full width */
  z-index: 1000; /* Ensure it's above other content */
}

.navbar-brand img {
  margin-right: 10px;
}

/* Sidebar */
.sidebar {
  width: 250px; /* Set a fixed width for the sidebar */
  background-color: #e7e1fc; /* Set background color */
  position: fixed; /* Make sidebar fixed */
  top: 70px; /* Position sidebar below navbar */
  bottom: 0; /* Position sidebar at the bottom */
  left: 0; /* Position sidebar at the left */
  z-index: 999; /* Ensure it's above other content */
  overflow-y: auto; /* Allow sidebar to scroll if needed */
  padding: 20px;
}

.sidebar .nav-link {
  font-size: 16px;
  color: #2b1270;
}

.sidebar .nav-link:hover {
  color: #56098a;
  background-color: #dbd1fa;
  border-radius: 11px;
  transition: 0.5s;
}

.sidebar .nav-item .collapse {
  display: none;
}

.sidebar .nav-item.active .collapse {
  display: block;
}

/* Main Content */
.content {
  margin-left: 250px; /* Adjust based on sidebar width */
  padding-top: 110px !important;
  padding-bottom: 110px !important;
}

/* Submenu */
#projectsSubMenu.show {
  display: block;
}

#phasesSubMenu.show {
  display: block;
}

#SegmentsSubMenu.show {
  display: block;
}

#TagsSubMenu.show {
  display: block;
}

#StagesSubMenu.show {
  display: block;
}

#TicketsSubMenu.show {
  display: block;
}

#SprintsSubMenu.show {
  display: block;
}

#MilestonesSubMenu.show {
  display: block;
}

.sidebar .nav .nav-item .collapse .nav {
  padding-left: 1rem; /* Adjust the left padding to increase or decrease indentation */
  transition: 0.5s;
}

.form-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 8px; /* Optional: Add rounded corners for a softer look */
  padding: 20px; /* Optional: Add padding for better spacing */
}


.container h1 {
  text-align: center !important;
  font-weight: 300 !important;
  margin-bottom: 3rem !important
}

/* Default button style */
.btn-custom {
  color: #ffffff !important;
  background-color: #673AB7 !important; /* Blue color */
  border-color: #9066d4 !important;
  transition: .5s !important;
  padding: 17px !important;
}

.btn-custom:hover {
  color: #ffffff !important;
  background-color: #9066d4 !important; /* Blue color */
  border-color: #9066d4 !important;
  transition: .5s !important;
}

/* Customize Summernote toolbar buttons */
.note-toolbar button {
  color: #fff;
  background-color: #9066d4;
  transition: 0.5s;
}

/* Customize Summernote toolbar buttons */
.note-toolbar button:hover {
  color: #fff;
  background-color: #7840d2;
}

/* Customize Summernote editor background */
.note-editor .note-editable {
  background-color: #f8f9fa;
}


.user-icon-container {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%; /* Make it circular */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* If we add upload image from user. */
/* .user-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.user-initial {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px; /* Adjust font size */
  color: #ffffff; /* Text color */
  text-transform: uppercase; /* Convert to uppercase */
  background-color: #9166d5;
  border-radius: 50%;
}
