<!-- sprints/templates/sprints/sprint_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Sprints{% endblock %}
{% block content %}
<div class="container mt-4">
    <a href="{% url 'sprints:create_sprint' %}" class="btn btn-custom">Create Sprint</a>
    <h2>All Sprints</h2>
    <table class="table table-bordered table-striped table-light table-hover" style="width: 100%;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Tickets</th>
                <th>Phases</th>
                <th>Segments</th>
                <th>Projects</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Actions</th>
                <!-- Add more headers as needed -->
            </tr>
        </thead>
        <tbody>
            {% for sprint in sprints %}
            <tr>
                <td>{{ sprint.title }}</td>
                <td>
                    {% for ticket in sprint.tickets.all %}
                        {{ ticket.title }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for phase in sprint.phases.all %}
                        {{ phase.title }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for segment in sprint.segments.all %}
                        {{ segment.title }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for project in sprint.projects.all %}
                        {{ project.title }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ sprint.start_date }}</td>
                <td>{{ sprint.end_date }}</td>
                <td>{{ sprint.get_status_display }}</td>
                <td>
                    <a href="{% url 'sprints:update_sprint' sprint.id %}" ><i class="bi bi-pencil-square" data-toggle="tooltip" title="Edit"></i></a> <!-- Add edit button -->
                </td>
                <!-- Adjust based on your Sprint model fields -->
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">No sprints found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block endscript %}
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}">
    <!-- Include DataTables JS -->
    <script src="{% static 'DataTables/datatables.min.js' %}"></script>
    <script>
        $(document).ready(function() {
                        $('.table').DataTable({
                "scrollY": "500px", // Adjust the height as needed
                "scrollX": true,    // Enable horizontal scrolling if needed
                // Add any specific DataTables configurations here if needed
                "columnDefs": [
                    { "orderable": false, "targets": 6 } // Disable sorting on the description column if needed. But it will generate the error if description has more tables.
                ]
            });
        });
    </script>
{% endblock %}
