.error-messages {
    position: fixed;
    top: 10%;
    right: 4%;
    z-index: 1000;
}

.error-message {
    background-color: #f7a7a3;
    color: #000000;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 15px 5px #313131;
    border-left: 5px solid #8f130c;
    /* border-bottom: 5px solid rgb(102, 70, 157); */
}

.close-btn {
    cursor: pointer; /* Set cursor style to pointer */
    position: absolute;
    top: 5px; /* Adjust top position */
    right: 10px; /* Adjust right position */
    font-size: 20px; /* Adjust font size if needed */
}