<!-- stages/templates/stages/stage_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Stages{% endblock %}
{% block content %}
<div class="container mt-4">
    <a href="{% url 'stages:create_stage' %}" class="btn btn-custom">Create New Stage</a>
    <h2>All Stages</h2>
    <table class="table table-bordered table-striped table-light table-hover" style="width: 100%;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Actions</th>
                <!-- Add more headers as needed -->
            </tr>
        </thead>
        <tbody>
            {% for stage in stages %}
            <tr>
                <td>{{ stage.title }}</td>
                <td>{{ stage.get_status_display }}</td>
                <td>
                    <a href="{% url 'stages:update_stage' stage.id %}" ><i class="bi bi-pencil-square" data-toggle="tooltip" title="Edit"></i></a> <!-- Add edit button -->
                </td>
                <!-- Adjust based on your Stage model fields -->
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No stages found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block endscript %}
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}">
    <!-- Include DataTables JS -->
    <script src="{% static 'DataTables/datatables.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('.table').DataTable({
                "scrollY": "500px", // Adjust the height as needed
                "scrollX": true,    // Enable horizontal scrolling if needed
            });
        });
    </script>
{% endblock %}
