{% extends 'no_auth_base.html' %}
{% load static %}

{% block title %}Passionoverflow | Index{% endblock %}

{% block main_content %}
<section id="about">
  <div class="container-fluid">
    <div class="container">
      <div class="row mb-5">
        <h1>About us</h1>
      </div>
      <div class="row mb-5">
        <p>Welcome to Passion Overflow, the ultimate project management tool designed to help small businesses and startups streamline their operations, enhance productivity, and achieve their goals. Our platform is built with the unique needs of growing teams in mind, offering a range of features that simplify project tracking, collaboration, and task management.</p>
      </div>
      <div class="row mb-5">
        <h3>Our Mission</h3>
      </div>
      <div class="row mb-5">
        <p>At Passion Overflow, our mission is to empower small teams to achieve big results. We understand the challenges faced by small businesses and startups, and our goal is to provide an affordable, user-friendly tool that helps you manage projects efficiently and effectively.</p>
      </div>
    </div>
  </div>
</section>
{% endblock main_content %}