<!DOCTYPE html>
{% load static %}
{{ form.media }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css">
    <!-- Include Summernote CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs5.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block stylesheets %}{% endblock stylesheets %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/logos/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logos/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logos/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/logos/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/logos/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <!-- Top Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        
        {% if user.is_authenticated %}
        <a class="navbar-brand" href="#">
        {% else %}
        <a class="navbar-brand" href="{% url 'home_page' %}">
        {% endif %}
            <img src="{% static 'images/logos/navlogo.png' %}" width="53.3" height="43.6" alt="home page logo">
            <img src="{% static 'images/logos/navlogotext.png' %}" width="213.3" height="26.7" alt="home page logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <!-- Replace Link 1 and Link 2 with a dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="user-icon-container">
                            <div class="user-initial">{{ request.user.username|slice:":2" }}</div>
                        </div>
                    </a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li class="dropdown-item">
                            <form action="{% url 'accounts:logout' %}" method="POST">
                                {% csrf_token %}
                                <button class="nav-link btn btn-link" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>    
    </nav>

    <!-- Sidebar -->
    <div class="d-flex">
        <div class="sidebar bg-light p-3" style="min-width: 250px;">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#projectsSubMenu" role="button" aria-expanded="false" aria-controls="projectsSubMenu">Projects</a>
                    <div class="collapse" id="projectsSubMenu">
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'projects:create_project' %}">Create Project</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'projects:project_list' %}">All Projects</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#phasesSubMenu" role="button" aria-expanded="false" aria-controls="phasesSubMenu">Phases</a>
                    <div class="collapse" id="phasesSubMenu">
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'phases:create_phase' %}">Create Phase</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'phases:phase_list' %}">All Phases</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#SegmentsSubMenu" role="button" aria-expanded="false" aria-controls="SegmentsSubMenu">Segments</a>
                    <div class="collapse" id="SegmentsSubMenu">
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'segments:create_segment' %}">Create Segment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'segments:segment_list' %}">All Segments</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#TagsSubMenu" role="button" aria-expanded="false" aria-controls="TagsSubMenu">Tags</a>
                    <div class="collapse" id="TagsSubMenu">
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tags:create_tag' %}">Create Tag</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tags:tag_list' %}">All Tags</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#StagesSubMenu" role="button" aria-expanded="false" aria-controls="StagesSubMenu">Stages</a>
                    <div class="collapse" id="StagesSubMenu">
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'stages:create_stage' %}">Create Stages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'stages:stage_list' %}">All Stages</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#TicketsSubMenu" role="button" aria-expanded="false" aria-controls="TicketsSubMenu">Tickets</a>
                    <div class="collapse" id="TicketsSubMenu">
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tickets:create_ticket' %}">Create Ticket</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tickets:ticket_list' %}">All Tickets</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#SprintsSubMenu" role="button" aria-expanded="false" aria-controls="SprintsSubMenu">Sprints</a>
                    <div class="collapse" id="SprintsSubMenu">
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'sprints:create_sprint' %}">Create Sprint</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'sprints:sprint_list' %}">All Sprints</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#MilestonesSubMenu" role="button" aria-expanded="false" aria-controls="MilestonesSubMenu">Milestones</a>
                    <div class="collapse" id="MilestonesSubMenu">
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'milestones:create_milestone' %}">Create Milestone</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'milestones:milestone_list' %}">All Milestones</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        
        <!-- Main Content -->
        <div class="content flex-grow-1 p-3">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!-- Include jQuery first -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Include Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <!-- Include Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
    <!-- Include Summernote JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs5.min.js"></script>

    {% block endscript %}
    {% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Find all elements with data-toggle attribute
            var elements = document.querySelectorAll('[data-toggle]');
            elements.forEach(function(element) {
                // Get the value of the data-toggle attribute
                var toggleValue = element.getAttribute('data-toggle');
                // Set the value to data-bs-toggle attribute
                element.setAttribute('data-bs-toggle', toggleValue);
                // Remove the old data-toggle attribute
                element.removeAttribute('data-toggle');
            });
    
            // Repeat the process for other attributes if needed
            // Example: data-target to data-bs-target
            elements = document.querySelectorAll('[data-target]');
            elements.forEach(function(element) {
                var targetValue = element.getAttribute('data-target');
                element.setAttribute('data-bs-target', targetValue);
                element.removeAttribute('data-target');
            });
        });
    </script>
</body>
</html>
