<!-- projects/templates/projects/project_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h1>Contact Us</h1>
        <p>We are in the early stages of acquiring customers and are dedicated to continuously improving our product based on your feedback.</p>
        <p>Your input is invaluable in helping us shape the future of Passion Overflow. Feel free to contact us anytime to share your thoughts, report issues, or request new features.</p>
        <p>Contact Details:</p>
        <p>Email: </p>
        <p>Phone: </p>
    </div>
{% endblock %}
