{% extends 'no_auth_base.html' %}
{% load static %}

{% block title %}Passionoverflow | Index{% endblock %}

{% block main_content %}
<section id="home" class="home-sec">
  <div class="containername">
      <div class="row mb-3">
        
        {% if user.is_authenticated %}
          <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">logout</button>
          </form>
        {% endif %}
          
        <h1><colortag>Streamline</colortag> Your Projects. Achieve More.</h1>
      </div>
      <div class="row mb-3">
        <p>Passion Overflow helps you save time and reduce costs, all while enhancing your team's productivity.</p>
      </div>
      <div class="row mb-5">
        <a href="{% url 'accounts:registration' %}" class="cta-button">Get Started</a>
      </div>
  </div>
</section>
{% endblock main_content %}