{% extends 'no_auth_base.html' %}
{% load static %}

{% block title %}Passionoverflow | Index{% endblock %}

{% block main_content %}
<section id="why_choose_us">
  <div class="container-fluid">
    <div class="container">
      <div class="row mb-5">
        <h1>Why choose us?</h1>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="item">
            <h4>Comprehensive Features</h4>
            <p>From task management and time tracking to team collaboration and reporting, we provide all the tools you need in one place.</p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="item">
            <h4>Easy to Use</h4>
            <p>Our intuitive interface ensures that you can start managing your projects with minimal setup and training.</p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="item">
            <h4>Secure and Reliable</h4>
            <p>
              Your data's security is our top priority. We employ robust security measures, including 2-factor authentication, to keep your information safe.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="item">
            <h4>Scalable</h4>
            <p>
              Whether you’re a team of 5 or 50, our platform scales with your business, offering robust features to support your growth.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="item"> 
            <h4>Affordable</h4>
            <p>
              With our free plan for small teams and cost-effective pricing for larger groups, you get great value without breaking the bank.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="item">
            <h4>24 x 7 User Support</h4>
            <p>
              Our dedicated support team is available to assist you with any issues or questions, ensuring you get the most out of our platform.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main_content %}