{% extends 'base.html' %}
{% load static %}
{% block title %}Tickets | Kanban board{% endblock %}
{% block stylesheets %}
    <style>
        * {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            }
            
            *::-webkit-scrollbar {
            display: none;
            }

            #project-select,
            #segment-select {
                width: 200px;
            }

            
            .board {
            width: 100%;
            height: 70vh;
            overflow: scroll;
            background-color: #f4f7f9;
            background-position: center;
            background-size: cover;
            border-radius: 5px;
            }

            /* ---- BOARD ---- */
            .lanes {
            display: flex;
            align-items: flex-start;
            justify-content: start;
            gap: 16px;
            padding: 24px 32px;
            
            overflow: scroll;
            height: 100%;
            }

            .heading {
                padding: 11px;
                border-radius: 4px;
                background: #e2e2e2;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 8px;
                white-space: nowrap; /* Prevent text from wrapping */
                text-overflow: ellipsis; /* Show an ellipsis (...) for overflowed text */
                position: relative; /* Required for positioning the tooltip */
                cursor: pointer; /* Indicate that it’s clickable */
                max-width: calc(225px - 24px); /* Adjust to ensure it fits within the lane's width */
                display: flex; /* Flex display to align items */
                justify-content: space-between; /* Space between title and icon */
                align-items: center; /* Align items vertically */
            }
            
            .heading .title {
                flex-grow: 1; /* Allow the title to take up available space */
            }
            
            .heading .update-stage-in-kanban {
                background: none;
                border: none;
                color: #747474;
            }
            
            .heading .update-stage-in-kanban:hover {
                background: none;
                border: none;
                color: #8f8f8f;
            }
            
            
            .heading::after {
                position: absolute;
                bottom: 100%; /* Position above the element */
                left: 0;
                background: #333;
                color: #fff;
                padding: 5px;
                border-radius: 3px;
                white-space: normal; /* Allow wrapping in the tooltip */
                z-index: 10;
                font-size: 14px; /* Adjust font size if needed */
                max-width: 200px; /* Set a maximum width for the tooltip */
                text-align: center; /* Center text inside the tooltip */
                visibility: hidden; /* Hide the tooltip by default */
                opacity: 0;
                transition: opacity 0.3s; /* Smooth transition for tooltip visibility */
            }
            
            .heading:hover::after {
                visibility: visible; /* Show the tooltip on hover */
                opacity: 1;
            }
            
            
            .swim-lane {
            display: flex;
            flex-direction: column;
            gap: 12px;
            background-color: #ffffff;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
            padding: 12px;
            border-radius: 4px;
            width: 225px;
            min-height: 120px;
            flex-shrink: 0;
            transition: height 0.9s ease !important; /* Adjust the duration and easing function as needed */
            }
            
            

            .create-stage-button {
                display: flex;
                flex-direction: column;
                gap: 12px;
                border-radius: 4px;
                width: 225px;
                flex-shrink: 0;
            }

            .btn-primary {
                background-color: #007bff;
                color: #ffffff;
            }

            .task {
                background: #ffffff;
                color: #333333;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                padding: 8px; /* Adjust padding if needed */
                border-radius: 4px;
                font-size: 14px; /* Adjust to the minimum readable size */
                cursor: move;
                max-width: 100%;
                overflow-wrap: break-word; /* Break long words */
                word-wrap: break-word; /* For older browsers */
                white-space: normal; /* Ensure text wraps properly */
                line-height: 1.4; /* Ensure enough spacing for readability */
            }
            
            @media (max-width: 600px) {
                .task {
                    font-size: 10px; /* Smaller size for smaller screens if needed */
                }
            }
            
            .is-dragging {
            scale: 1.05;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
            background: rgb(50, 50, 50);
            color: white;
            }

    </style>
{% endblock stylesheets %}
{% block content %}
<div class="container mt-4">
    <a href="{% url 'tickets:create_ticket' %}" class="btn btn-custom">Create Ticket</a>
    <h2>Kanban board</h2>

    <!-- Add Project and Segment Select Boxes -->
    <div class="row g-3 mb-3 align-items-center">
        <div class="col-auto">
            <label for="project-select" class="col-form-label">Project:</label>
        </div>
        <div class="col-auto">
            <select id="project-select" class="form-control">
                <option value="">Select Project</option>
                {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <label for="segment-select" class="col-form-label">Segment:</label>
        </div>
        <div class="col-auto">
            <select id="segment-select" class="form-control">
                <option value="">Select Segment</option>
            </select>
        </div>
        <div class="col-auto">
            <label for="stage-select" class="col-form-label">Stage:</label>
        </div>
        <div class="col-auto">
            <select name="stage-select" class="selectpicker" multiple aria-label="Default select example" data-live-search="true" id="stage-select">
                <option value="">Select Stage</option>
                {% for stage in stages %}
                    <option value="{{ stage.id }}">{{ stage.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <button type="button" id="add-stages-to-kanban" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Add Selected Stages to Kanban
            </button>
        </div>
    </div>

    <div class="board">
        <div class="lanes">
            <!-- Create Stage Button at the start -->
            <div class="create-stage-button d-none" id="create-stage-button">
                <button type="button" class="btn btn-primary create-stage-in-kanban" data-bs-toggle="modal" data-bs-target="#stageCreationModal">
                    <i class="bi bi-plus-circle"></i> Create Stage
                </button>
            </div>
        </div>
    </div>
</div>

    <!-- stageCreationModal -->
    <div class="modal fade" id="stageCreationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header">Create Stage</div>
                        <div class="card-body">
                            <form method="post" id="create-stage-from-kanban" action="{% url 'stages:create_stage_from_kanban' %}">
                                {% csrf_token %}
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label" for="id_title">Title</label>
                                    <div class="col-md-9">
                                        <input type="text" name="title" class="form-control" placeholder="Enter title" maxlength="200" required id="id_title">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label" for="id_status">Status</label>
                                    <div class="col-md-9">
                                        <select name="status" class="form-select" id="id_status">
                                            {% for value, display in stage_status_choices %}
                                                <option value="{{ value }}">{{ display }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-3 row" style="font-size: .7rem; color: #8c8c8c;">
                                    <label class="col-md-3 col-form-label" for="id_status"><i class="bi bi-info-circle"></i> Note: </label>
                                    <div class="col-md-9">
                                        <p>
                                            At which stage the ticket is in. For ex: Newly Created, Assigned, Blocked or On Hold, In progress, Testing, Review, Approval, Completed, Closed, Reopened and Canceled are different kind of stages.
                                        </p>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">Create Stage</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <i class="bi bi-info-circle"></i> Keep the stage status open. You can close it later.
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- stageUpdationModal -->
    <div class="modal fade" id="stageUpdationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header">Update Stage</div>
                        <div class="card-body">
                            <form method="post" id="update-stage-from-kanban" action="#">
                                {% csrf_token %}
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label" for="id_title">Title</label>
                                    <div class="col-md-9">
                                        <input type="text" name="title" class="form-control" placeholder="Enter title" maxlength="200" required id="id_title">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label" for="id_status">Status</label>
                                    <div class="col-md-9">
                                        <select name="status" class="form-select" id="id_status">
                                            {% for value, display in stage_status_choices %}
                                                <option value="{{ value }}">{{ display }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-3 row" style="font-size: .7rem; color: #8c8c8c;">
                                    <label class="col-md-3 col-form-label" for="id_status"><i class="bi bi-info-circle"></i> Note: </label>
                                    <div class="col-md-9">
                                        <p>
                                            At which stage the ticket is in. For ex: Newly Updated, Assigned, Blocked or On Hold, In progress, Testing, Review, Approval, Completed, Closed, Reopened and Canceled are different kind of stages.
                                        </p>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">Update Stage</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <i class="bi bi-info-circle"></i> Keep the stage status open. You can close it later.
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block endscript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script>
        $(document).ready(function() {
            const baseTicketPostsUrl = "{% url 'posts:ticket_posts' 0 %}";
            const $projectSelect = $('#project-select');
            const $segmentSelect = $('#segment-select');
            const $lanes = $('.lanes');
            const $createStageButton = $('#create-stage-button');
            const $stageSelect = $('#stage-select');
            const $addStagesButton = $('#add-stages-to-kanban');

            $(document).on('click', '.delete-stage-in-kanban', function() {
                // Find the closest swim lane (stage)
                const $lane = $(this).closest('.swim-lane');
                
                // Check if the lane has any tasks inside it
                if ($lane.find('.task').length > 0) {
                    // Show SweetAlert message
                    Swal.fire({
                        icon: 'warning',
                        title: 'Cannot Remove Stage',
                        text: "You can't remove the stage which has tickets on it. If a stage has no tickets, it will be automatically removed on page refresh.",
                        confirmButtonText: 'OK'
                    });
                } else {
                    // Remove the stage from the DOM
                    $lane.remove();
                }
            });

            function updateCreateStageButtonVisibility() {
                const projectId = $projectSelect.val();
                const segmentId = $segmentSelect.val();
                if (projectId || segmentId) {
                    $createStageButton.removeClass('d-none');
                } else {
                    $createStageButton.addClass('d-none');
                }
            }
        
            $projectSelect.on('change', function() {
                const projectId = $(this).val();
                if (projectId) {
                    $.ajax({
                        url: "{% url 'tickets:fetch_segments' %}",
                        data: { project_id: projectId },
                        success: function(response) {
                            $segmentSelect.empty();
                            $segmentSelect.append('<option value="">Select Segment</option>');
                            response.segments.forEach(segment => {
                                $segmentSelect.append(`<option value="${segment.id}">${segment.title}</option>`);
                            });
                            $segmentSelect.trigger('change');
                            updateCreateStageButtonVisibility();
                        }
                    });
                } else {
                    $segmentSelect.empty().append('<option value="">Select Segment</option>');
                    $lanes.empty();
                    updateCreateStageButtonVisibility();
                }
            });
        
            $segmentSelect.on('change', function() {
                const segmentId = $(this).val();
                const projectId = $projectSelect.val();
                if (segmentId || projectId) {
                    $.ajax({
                        url: "{% url 'tickets:fetch_tickets_and_stages' %}",
                        data: { segment_id: segmentId, project_id: projectId },
                        success: function(response) {
                            $lanes.children('.swim-lane').not('#create-stage-button').remove();
                            response.stages.forEach(stage => {
                                const $lane = $('<div>', { class: 'swim-lane', 'data-stage-id': stage.id }).append(`
                                    <h3 class="heading" data-bs-toggle="tooltip" data-bs-placement="top" title="${stage.title}">
                                        ${stage.title.length > 17 ? stage.title.substring(0, 17) + '...' : stage.title}
                                        <div class="dropdown">
                                            <button class="btn btn-primary update-stage-in-kanban dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item">
                                                    <button type="button" class="btn btn-primary update-stage-in-kanban" data-bs-toggle="modal" data-bs-target="#stageUpdationModal">
                                                        <i class="bi bi-pencil-square"></i> Edit Stage
                                                    </button>
                                                </li>
                                                <li class="dropdown-item">
                                                    <button type="button" class="btn btn-danger update-stage-in-kanban delete-stage-in-kanban">
                                                        <i class="bi bi-trash"></i> Remove stage
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </h3>
                                `);
                                
                                response.tickets[stage.id].forEach(ticket => {
                                    const ticketUrl = baseTicketPostsUrl.replace('0', `${ticket.id}`);
                                    const $task = $(`
                                        <p class="task" draggable="true" id="${ticket.id}" data-stage-id="${stage.id}">
                                            <a href="${ticketUrl}" class="ticket-link">#${ticket.company_ticket_counter}</a><br>${ticket.title}
                                            <br>Ticket type: ${ticket.ticket_type_display}
                                        </p>
                                    `);
                                    $lane.append($task);
                                });
                                $lanes.append($lane);
                            });
                            initializeDragAndDrop();
                            updateCreateStageButtonVisibility();
                        }
                    });
                }
            });
        
            $('#create-stage-from-kanban').on('submit', function(event) {
                event.preventDefault(); // Prevent the default form submission
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function(response) {
                        if (response.success) {
                            // Add new stage to the stage-select dropdown
                            const newStage = response.stage;
                            $stageSelect.append(`<option value="${newStage.id}">${newStage.title}</option>`);
                            
                            $stageSelect.selectpicker('refresh'); // This assumes you're using Bootstrap-Select

                            // Show SweetAlert notification
                            Swal.fire({
                                icon: 'success',
                                title: 'Stage Added',
                                text: `Stage "${newStage.title}" created and added to stage select box. Add it to the kanban board by selecting and adding it.`,
                                confirmButtonText: 'OK'
                            });
            
                            // Hide the modal
                            $('#stageCreationModal').modal('hide');
                        } else {
                            // Show SweetAlert error notification
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response.errors.join(', '),
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                    error: function(xhr, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'An unexpected error occurred. Please try again.',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
            


            function getExistingStageIds() {
                return $lanes.children('.swim-lane').map(function() {
                    return $(this).data('stage-id');
                }).get();
            }


            $addStagesButton.on('click', function() {
                const selectedStageIds = $stageSelect.val();
                const projectId = $projectSelect.val();
                const segmentId = $segmentSelect.val();
                const existingStageIds = getExistingStageIds();
            
                if (selectedStageIds.length > 0) {
                    $.ajax({
                        url: "{% url 'tickets:fetch_tickets_and_stages' %}",
                        data: { project_id: projectId, segment_id: segmentId },
                        success: function(response) {
                            // Map response stages to their IDs
                            const responseStageIds = response.stages.map(stage => stage.id);
            
                            selectedStageIds.forEach(stageId => {
                                // Check if the selected stage ID is in the response stages
                                const stage = response.stages.find(s => parseInt(s.id) === parseInt(stageId));
            
                                // Only add the stage if it does not exist in the response
                                if (!responseStageIds.includes(parseInt(stageId)) && !stage && !existingStageIds.includes(parseInt(stageId))) {
                                    const stageTitledata = response.all_stages.find(s => parseInt(s.id) === parseInt(stageId));
                                    const newStage = {
                                        id: stageId,
                                        title: `${stageTitledata.title}` // Placeholder title, you might want to customize this
                                    };
            
                                    // Create a new swim-lane element
                                    const $lane = $('<div>', {
                                        class: 'swim-lane',
                                        'data-stage-id': newStage.id
                                    }).append(`
                                        <h3 class="heading" data-bs-toggle="tooltip" data-bs-placement="top" title="${newStage.title}">
                                            ${newStage.title.length > 17 ? newStage.title.substring(0, 17) + '...' : newStage.title}
                                            <div class="dropdown">
                                                <button class="btn btn-primary update-stage-in-kanban dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-item">
                                                        <button type="button" class="btn btn-primary update-stage-in-kanban" data-bs-toggle="modal" data-bs-target="#stageUpdationModal">
                                                            <i class="bi bi-pencil-square"></i> Edit Stage
                                                        </button>
                                                    </li>
                                                    <li class="dropdown-item">
                                                        <button type="button" class="btn btn-danger update-stage-in-kanban delete-stage-in-kanban">
                                                            <i class="bi bi-trash"></i> Remove stage
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </h3>
                                    `);
                                    $lanes.append($lane);
                                }
                            });
                            initializeDragAndDrop();
                            $stageSelect.selectpicker('deselectAll'); // This assumes you're using Bootstrap-Select

                        }
                    });
                }
            });
            
            
        
            function initializeDragAndDrop() {
                const draggables = document.querySelectorAll(".task");
                const droppables = document.querySelectorAll(".swim-lane");
            
                draggables.forEach((task) => {
                    task.addEventListener("dragstart", () => {
                        task.classList.add("is-dragging");
                    });
                    task.addEventListener("dragend", () => {
                        task.classList.remove("is-dragging");
                    });
                });
            
                droppables.forEach((zone) => {
                    zone.addEventListener("dragover", (e) => {
                        e.preventDefault();
                        const bottomTask = insertAboveTask(zone, e.clientY);
                        const curTask = document.querySelector(".is-dragging");
                        if (!bottomTask) {
                            zone.appendChild(curTask);
                        } else {
                            zone.insertBefore(curTask, bottomTask);
                        }
                    });
            
                    zone.addEventListener("drop", (e) => {
                        e.preventDefault();
                        const curTask = document.querySelector(".is-dragging");
                        const oldStageId = curTask.getAttribute('data-stage-id'); // Get old stage ID from task
                        const newStageId = $(zone).data('stage-id'); // New stage ID from the droppable zone
                        const ticketId = curTask.id;
                        $.ajax({
                            url: "{% url 'tickets:update_ticket_stage' %}",
                            type: 'POST',
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                ticket_id: ticketId,
                                old_stage_id: oldStageId,
                                new_stage_id: newStageId
                            },
                            success: function(response) {
                                if (response.success) {
                                    // Update the data-stage-id attribute of the moved task
                                    curTask.setAttribute('data-stage-id', newStageId);
            
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Ticket Moved',
                                        text: `Ticket #${response.ticket.company_ticket_counter} moved from "${response.old_stage_title}" to "${response.new_stage_title}".`,
                                        confirmButtonText: 'OK'
                                    });
                                } else {
                                    console.log(response);
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Move Failed',
                                        text: 'Cannot move ticket. Please refresh and try again.',
                                        confirmButtonText: 'OK'
                                    });
                                }
                            },
                            error: function(xhr, status, error) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: 'An unexpected error occurred. Please refresh and try again.',
                                    confirmButtonText: 'OK'
                                });
                            }
                        });
                    });
                });
            
                function insertAboveTask(zone, mouseY) {
                    const els = zone.querySelectorAll(".task:not(.is-dragging)");
                    let closestTask = null;
                    let closestOffset = Number.NEGATIVE_INFINITY;
                    els.forEach((task) => {
                        const { top } = task.getBoundingClientRect();
                        const offset = mouseY - top;
                        if (offset < 0 && offset > closestOffset) {
                            closestOffset = offset;
                            closestTask = task;
                        }
                    });
                    return closestTask;
                }
            }
            
            initializeDragAndDrop();
            
            function initializeSortable() {
                new Sortable($lanes[0], {
                    animation: 150,
                    handle: '.heading',
                    onEnd: function (evt) {
                        console.log('Stage moved from', evt.oldIndex, 'to', evt.newIndex);
                    }
                });
        
                document.querySelectorAll('.swim-lane').forEach((lane) => {
                    new Sortable(lane, {
                        group: 'tasks',
                        animation: 150,
                        onEnd: function (evt) {
                            console.log('Task moved from', evt.oldIndex, 'to', evt.newIndex, 'within list', evt.from, 'to list', evt.to);
                        }
                    });
                });
            }
        
            initializeSortable();
        });
        
    </script>
{% endblock %}

