{% extends 'base.html' %}
{% load static %}
{% block title %}Tickets | Kanban board{% endblock %}
{% block stylesheets %}
    <style>
        * {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            }
            
            *::-webkit-scrollbar {
            display: none;
            }

            #project-select,
            #segment-select {
                width: 200px;
            }

            
            .board {
            width: 100%;
            height: 70vh;
            overflow: scroll;
            background-color: wheat;
            background-position: center;
            background-size: cover;
            border-radius: 5px;
            }

            /* ---- BOARD ---- */
            .lanes {
            display: flex;
            align-items: flex-start;
            justify-content: start;
            gap: 16px;
            
            padding: 24px 32px;
            
            overflow: scroll;
            height: 100%;
            }

            .heading {
                font-size: 22px;
                font-weight: bold;
                margin-bottom: 8px;
                white-space: nowrap; /* Prevent text from wrapping */
                overflow: hidden; /* Hide text that overflows */
                text-overflow: ellipsis; /* Show an ellipsis (...) for overflowed text */
                position: relative; /* Required for positioning the tooltip */
                cursor: pointer; /* Indicate that it’s clickable */
                max-width: calc(225px - 24px); /* Adjust to ensure it fits within the lane's width */
                /* Adjust max-width as needed to fit within the container */
            }
            
            .heading::after {
                position: absolute;
                bottom: 100%; /* Position above the element */
                left: 0;
                background: #333;
                color: #fff;
                padding: 5px;
                border-radius: 3px;
                white-space: normal; /* Allow wrapping in the tooltip */
                z-index: 10;
                font-size: 14px; /* Adjust font size if needed */
                max-width: 200px; /* Set a maximum width for the tooltip */
                text-align: center; /* Center text inside the tooltip */
                visibility: hidden; /* Hide the tooltip by default */
                opacity: 0;
                transition: opacity 0.3s; /* Smooth transition for tooltip visibility */
            }
            
            .heading:hover::after {
                visibility: visible; /* Show the tooltip on hover */
                opacity: 1;
            }
            
            
            .swim-lane {
            display: flex;
            flex-direction: column;
            gap: 12px;
            
            background: #f4f4f4;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
            
            padding: 12px;
            border-radius: 4px;
            width: 225px;
            min-height: 120px;
            
            flex-shrink: 0;
            }
            

            .create-stage-button {
                display: flex;
                flex-direction: column;
                gap: 12px;
                border-radius: 4px;
                width: 225px;
                flex-shrink: 0;
            }

            .task {
                background: white;
                color: black;
                box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
                padding: 8px; /* Adjust padding if needed */
                border-radius: 4px;
                font-size: 14px; /* Adjust to the minimum readable size */
                cursor: move;
                max-width: 100%;
                overflow-wrap: break-word; /* Break long words */
                word-wrap: break-word; /* For older browsers */
                white-space: normal; /* Ensure text wraps properly */
                line-height: 1.4; /* Ensure enough spacing for readability */
            }
            
            @media (max-width: 600px) {
                .task {
                    font-size: 10px; /* Smaller size for smaller screens if needed */
                }
            }
            
            .is-dragging {
            scale: 1.05;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
            background: rgb(50, 50, 50);
            color: white;
            }
    </style>
{% endblock stylesheets %}
{% block content %}
<div class="container mt-4">
    <a href="{% url 'tickets:create_ticket' %}" class="btn btn-custom">Create Ticket</a>
    <h2>Kanban board</h2>

    <!-- Add Project and Segment Select Boxes -->
    <div class="row g-3 mb-3 align-items-center">
        <div class="col-auto">
            <label for="project-select" class="col-form-label">Project:</label>
        </div>
        <div class="col-auto">
            <select id="project-select" class="form-control">
                <option value="">Select Project</option>
                {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <label for="segment-select" class="col-form-label">Segment:</label>
        </div>
        <div class="col-auto">
            <select id="segment-select" class="form-control">
                <option value="">Select Segment</option>
            </select>
        </div>
        <div class="col-auto">
            <label for="stage-select" class="col-form-label">Stage:</label>
        </div>
        <div class="col-auto">
            <select id="stage-select" class="form-control">
                <option value="">Select Stage</option>
                {% for stage in stages %}
                    <option value="{{ stage.id }}">{{ stage.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="board">
        <div class="lanes">
            <!-- Create Stage Button at the start -->
            <div class="create-stage-button d-none" id="create-stage-button">
                <button type="button" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#stageCreationModal">
                    <i class="bi bi-plus"></i> Create Stage
                </button>
            </div>
        </div>
    </div>
</div>

    <!-- stageCreationModal -->
    <div class="modal fade" id="stageCreationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header">Create Stage</div>
                        <div class="card-body">
                            <form method="post" id="create-stage-from-kanban" action="{% url 'stages:create_stage_from_kanban' %}">
                                {% csrf_token %}
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label" for="id_title">Title</label>
                                    <div class="col-md-9">
                                        <input type="text" name="title" class="form-control" placeholder="Enter title" maxlength="200" required id="id_title">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label" for="id_status">Status</label>
                                    <div class="col-md-9">
                                        <select name="status" class="form-select" id="id_status">
                                            {% for value, display in stage_status_choices %}
                                                <option value="{{ value }}">{{ display }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">Create Stage</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <i class="bi bi-info-circle"></i> Keep the stage status open. You can close it later.
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block endscript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script>
        $(document).ready(function() {
            const baseTicketPostsUrl = "{% url 'posts:ticket_posts' 0 %}"; // URL pattern with a placeholder
            const $projectSelect = $('#project-select');
            const $segmentSelect = $('#segment-select');
            const $lanes = $('.lanes');
            const $createStageButton = $('#create-stage-button');
        
            // Function to update the visibility of the Create Stage button
            function updateCreateStageButtonVisibility() {
                const projectId = $projectSelect.val();
                const segmentId = $segmentSelect.val();
                if (projectId || segmentId) {
                    $createStageButton.removeClass('d-none');
                } else {
                    $createStageButton.addClass('d-none');
                }
            }
        
            // Fetch segments when project is selected
            $projectSelect.on('change', function() {
                const projectId = $(this).val();
                if (projectId) {
                    $.ajax({
                        url: "{% url 'tickets:fetch_segments' %}",
                        data: { project_id: projectId },
                        success: function(response) {
                            $segmentSelect.empty();
                            $segmentSelect.append('<option value="">Select Segment</option>');
                            response.segments.forEach(segment => {
                                $segmentSelect.append(`<option value="${segment.id}">${segment.title}</option>`);
                            });
                            $segmentSelect.trigger('change'); // Trigger change to load tickets and stages
                            updateCreateStageButtonVisibility(); // Update button visibility
                        }
                    });
                } else {
                    $segmentSelect.empty().append('<option value="">Select Segment</option>');
                    $lanes.empty(); // Clear lanes if no project is selected
                    updateCreateStageButtonVisibility(); // Update button visibility
                }
            });
        
            // Fetch tickets and stages when segment is selected
            $segmentSelect.on('change', function() {
                const segmentId = $(this).val();
                const projectId = $projectSelect.val();
                if (segmentId || projectId) {
                    $.ajax({
                        url: "{% url 'tickets:fetch_tickets_and_stages' %}",
                        data: { segment_id: segmentId, project_id: projectId },
                        success: function(response) {
                            // Clear existing lanes but keep the Create Stage button
                            $lanes.children('.swim-lane').not('#create-stage-button').remove();
                            response.stages.forEach(stage => {
                                const $lane = $('<div>', { class: 'swim-lane', 'data-stage-id': stage.id }).append(`
                                    <h3 class="heading" data-bs-toggle="tooltip" data-bs-placement="top" title="${stage.title}">
                                        ${stage.title.length > 15 ? stage.title.substring(0, 15) + '...' : stage.title}
                                    </h3>
                                `);
                                
                                response.tickets[stage.id].forEach(ticket => {
                                    const ticketUrl = baseTicketPostsUrl.replace('0', `${ticket.id}`);
                                    const $task = $(`
                                        <p class="task" draggable="true" id="${ticket.id}">
                                            <a href="${ticketUrl}" class="ticket-link">#${ticket.company_ticket_counter}</a><br>${ticket.title}
                                            <br>Ticket type: ${ticket.ticket_type_display}
                                        </p>
                                    `);
                                    $lane.append($task);
                                });
                                $lanes.append($lane);
                            });
                            initializeDragAndDrop(); // Reinitialize drag-and-drop after content update
                            updateCreateStageButtonVisibility(); // Update button visibility
                        }
                    });
                }
            });
        
            // Function to initialize drag-and-drop functionality
            function initializeDragAndDrop() {
                const draggables = document.querySelectorAll(".task");
                const droppables = document.querySelectorAll(".swim-lane");
        
                draggables.forEach((task) => {
                    task.addEventListener("dragstart", () => {
                        task.classList.add("is-dragging");
                    });
                    task.addEventListener("dragend", () => {
                        task.classList.remove("is-dragging");
                    });
                });
        
                droppables.forEach((zone) => {
                    zone.addEventListener("dragover", (e) => {
                        e.preventDefault();
                        const bottomTask = insertAboveTask(zone, e.clientY);
                        const curTask = document.querySelector(".is-dragging");
                        if (!bottomTask) {
                            zone.appendChild(curTask);
                        } else {
                            zone.insertBefore(curTask, bottomTask);
                        }
                    });
                });
        
                const insertAboveTask = (zone, mouseY) => {
                    const els = zone.querySelectorAll(".task:not(.is-dragging)");
                    let closestTask = null;
                    let closestOffset = Number.NEGATIVE_INFINITY;
                    els.forEach((task) => {
                        const { top } = task.getBoundingClientRect();
                        const offset = mouseY - top;
                        if (offset < 0 && offset > closestOffset) {
                            closestOffset = offset;
                            closestTask = task;
                        }
                    });
                    return closestTask;
                };
            }
        
            // Initialize drag-and-drop on page load
            initializeDragAndDrop();
        
            // Function to initialize Sortable.js for both stages and tasks
            function initializeSortable() {
                // Make stages (columns) sortable
                new Sortable($lanes[0], {
                    animation: 150,
                    handle: '.heading', // Only allow dragging by the heading
                    onEnd: function (evt) {
                        // Update stage order in backend if necessary
                        console.log('Stage moved from', evt.oldIndex, 'to', evt.newIndex);
                    }
                });
        
                // Make tasks sortable within and between stages
                document.querySelectorAll('.swim-lane').forEach((lane) => {
                    new Sortable(lane, {
                        group: 'tasks',
                        animation: 150,
                        onEnd: function (evt) {
                            // Update task order and stage in backend if necessary
                            console.log('Task moved from', evt.oldIndex, 'to', evt.newIndex, 'within list', evt.from, 'to list', evt.to);
                        }
                    });
                });
            }
        
            // Initialize Sortable.js on page load
            initializeSortable();
        });
        
    </script>
{% endblock %}

