<!-- tickets/templates/tickets/ticket_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Tickets{% endblock %}
{% block content %}
<div class="container mt-4">
    <a href="{% url 'tickets:create_ticket' %}" class="btn btn-custom">Create Ticket</a>
    <h2>All Tickets</h2>
    <table class="table table-bordered table-striped table-light table-hover" style="width: 100%;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Members</th>
                <th>Root Tickets</th>
                <th>Branch Tickets</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Esitmated End Date</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Priority Scale</th>
                <th>Ticket Type</th>
                <th>Stage</th>
                <th>Segment</th>
                <th>Description</th>
                <th>Tags</th>
                <th>Actions</th>
                <!-- Add more headers as needed -->
            </tr>
        </thead>
        <tbody>
            {% for item in tickets_with_active_stages %}
                <tr>
                    <td>{{ item.ticket.title }}</td>
                    <td>
                        {% for member in item.ticket.members.all %}
                            {{ member.username }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for super_ticket in item.ticket.super_tickets.all %}
                            {{ super_ticket.title }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for sub_ticket in item.ticket.sub_tickets.all %}
                            {{ sub_ticket.title }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ item.ticket.start_date }}</td>
                    <td>{{ item.ticket.end_date }}</td>
                    <td>{{ item.ticket.estimated_end_date }}</td>
                    <td>{{ item.ticket.due_date }}</td>
                    <td>{{ item.ticket.get_status_display }}</td>
                    <td>{{ item.ticket.priority_scale }}</td>
                    <td>{{ item.ticket.get_ticket_type_display }}</td>
                    <td>
                        {% for stage in item.active_stages.all %}
                            {{ stage.title }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ item.ticket.segment.title }}</td>
                    <td>{{ item.ticket.description|safe }}</td>
                    <td>
                        {% for tag in item.ticket.tags.all %}
                            {{ tag.title }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'tickets:update_ticket' item.ticket.id %}" ><i class="bi bi-pencil-square" data-toggle="tooltip" title="Edit"></i></a>
                        
                        <a href="{% url 'posts:ticket_posts' item.ticket.id %}"><i class="bi bi-eye" data-toggle="tooltip" title="Views posts for this ticket"></i></a>
                    </td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="16">No tickets found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block endscript %}
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}">
    <!-- Include DataTables JS -->
    <script src="{% static 'DataTables/datatables.min.js' %}"></script>
    <script>
        $(document).ready(function() {
                        $('.table').DataTable({
                "scrollY": "500px", // Adjust the height as needed
                "scrollX": true,    // Enable horizontal scrolling if needed
                // Add any specific DataTables configurations here if needed
                "columnDefs": [
                    { "orderable": false, "targets": [15] } // Disable sorting on the description column if needed. But it will generate the error if description has more tables.
                ]
            });
        });
    </script>
{% endblock %}
