{% extends 'base.html' %}
{% load static %}

{% block title %}Milestone Calendar View{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
{% endblock stylesheets %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="calendar" style="height: 800px;"></div>
        </div>
    </div>
{% endblock %}

{% block endscript %}
    <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const Calendar = tui.Calendar;
                const calendar = new Calendar('#calendar', {
                    defaultView: 'month',
                    useCreationPopup: true,
                    useDetailPopup: true,
                    calendars: [
                        {
                            id: 'cal1',
                            name: 'Milestones',
                            backgroundColor: '#03bd9e',
                            borderColor: '#03bd9e'
                        }
                    ]
                });

                const milestones = [
                    {% for milestone in milestones %}
                        {
                            id: '{{ milestone.id }}',
                            calendarId: 'cal1',
                            title: '{{ milestone.title }}',
                            category: 'time',
                            dueDateClass: '',
                            start: '{{ milestone.completion_date }}',
                            end: '{{ milestone.completion_date }}',
                        },
                    {% endfor %}
                ];

                calendar.createEvents(milestones);
            });
        </script>
{% endblock %}
